# Exclude all non-repository files
/*/
!/.idea/
!/assets/
!/core/
!/desktop/
!/docs/
!/gradle/
bin/
build/
cache/
dist/
dists/
gradle-*-bin/
out/
tmp*/
temp*/
test*/

# Exclude generated program files
*.class
*.config
*.exe
*.jar
*.log
*.zip

# Special files
.idea/uiDesigner.xml
.idea/inspectionProfiles
!/docs/dist/
